* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  /* background-color: red; */
}

#app {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  gap: 20px;
  width: 400px;
}
form {
  display: flex;
}
input[type=text]{
  border: 2px solid #333;
  padding: 7px 14px;
  border-radius: 5px;
  flex: 1;
}
input[type=text]:focus {
  box-shadow: 0px 0px 5px 1px #333333;
  outline: none;
}
button {
  padding: 8px 15px;
  background: #fff;
  border: none;
  border-radius: 5px;
  font-family: serif;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
  transition: .2s ease-out;
}
button:hover {
  scale: 1.03;
}
.add-button{
background-color: #333;
}
.edit-button{
background-color: #2fc908;
}
.delete-button {
background-color: #b2072a;
}
ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
li {
  display: flex;
  /* width: 300px; */
  /* justify-content: space-between; */
}
li p {
  flex-grow: 1;
  
}
.todo{
  width: 20px;
  height: 20px;
  /* border: 1px solid #333; */
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}