.content {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    // width: 400px;
    padding: 4rem;
    box-shadow: var(--box-shadow);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .form-group {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    label {
      color: var(--accent);
    }
    input,
    textarea {
      border: 2px solid var(--divider);
      border-radius: 4px;
      padding: 10px;
    }
    textarea{
      width: 400px;
      height: 150px;
    }
  }
}
