.title {
  &-underline{
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--divider);
  }
}
.btn-group{
  display: flex;
  column-gap: 10px;
  justify-content: end;
}
.btn{
  border: none;
  border-radius: 3px;
  padding: 1rem 2rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: none;

  transition: box-shadow 0.2s;
  &:hover{
    box-shadow: var(--box-shadow);
  }
  &-primary{
    background-color: var(--primary);
    color: white;
  }
  &-secondary{
    background-color: crimson;
    color: white;
  }
}